/* html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
} */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2a2a2a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #e44c1d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b63c18;
}

/* Handle on click */
::-webkit-scrollbar-thumb:active {
  background: #cb441a;
}

.button-text::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 1rem;
  height: 2px;
  background-color: #e44c1d;
  transform: scaleX(0);
  transition: transform 350ms ease-in-out;
  transform-origin: right;
}

.button-text:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 768px) {
  .button-text::after {
    transform: scaleX(1);
  }
}

.show-text {
  animation: showText 350ms ease-in-out;
}

@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}